body {
    width:100%;
    margin:0;
    font-family: 'Sora', sans-serif;
    background-color:transparent;
}

html {
    scroll-behavior: smooth;
}

.navmiddle img {
  width: 64px;
}

.navmiddle .nchild {
  padding-left: 8%;
  padding-right: 8%;
}

.navleft {
    width:80px;
    float:left;

}

.navleft .nchild {
    float:left;
}

.navright .nchild {
    float:right;
    padding-left: 4%;
    padding-right: 2.5%;
}

.navright {
    height:100%;
    width:80%;
    float:right;
}

.navmiddle {
    color:white;
    position:absolute;
    left: 80px;
    top: 50%;
    transform: translate(0%,-50%);
    display: flex;
    flex-direction: row;
}

.main {
    position:absolute;
    top:200px;
    width:100%;
}

.main__child {
    position:relative;
    width:60%;
    left:calc(20% - 5px);
    margin-top:60px;
    padding-bottom:20px;
    background-color: rgba(1.0, 1.0, 0.0, 0.3);
}

.border {
    overflow:hidden;
    --angle: 0deg;
    border:5px solid;
    border-image:linear-gradient(var(--angle),rgb(58, 193, 255),rgb(255, 255, 255)) 5;
    animation: 5s rotate linear infinite;
}

.footer {
  background: rgb(136, 136, 136);
  bottom: 0;
  width:100%;
  height:75px;
  line-height: 75px;
  font-size:10px;
  position:relative;
  text-align:center;
  color:white;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }


.navbar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
    height:90px;
    position: sticky;
    background-color: rgb(41, 41, 41);
    top:0;
}

.countdown {
    width:100%;
    height:100%;
    position:fixed;
    z-index:-1;
}

a {
    color: inherit;
    text-decoration: none;
}

.nchild a, .nchild img, .mchild a, .mchild img {
    transition: all 0.2s ease-in-out;
}

.nchild a:hover, .nchild img:hover, #navmenu:hover, .mchild a:hover, .mchild img:hover {
    cursor: pointer;
    transform: scale(105%, 105%);
    transition: all 0.2s ease-in-out;
}

/* 
Modal child
*/

.mchild {
    text-align:center;
    width:100%; /* To make columns*/
    color:white;
    font-weight: 200;
    font-size:calc(18px + 2vh);
    margin-bottom: 6vh;
}

.mchild img {
  width:40px;
  padding-left:10px;
  padding-right: 10px;
}

.modal {
    justify-content: center;
    align-items: center; 
    vertical-align: middle;
    position:fixed;
    z-index:9999;
    top:90px;
    height:calc(100% - 90px);
    width:100%;
    background-color:rgba(63, 63, 63, 0.80);   
    display:none;
  }

  /* 
Nav child
*/

.nchild { 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position:static;
    height:100%;
    font-weight: 400;
    color:white;
    font-size:calc(10px + 1vw);
}

.title {
    text-align:center;
    font-size:calc(15px + 1vw);
    font-weight: 800;
    color:white;
    padding-top:10px;
}

.header {
    text-align:center;
    font-size:calc(16px + 2.25vw);
    font-weight: 400;
    color:white;
    padding-top:10px;
}

img {
   max-width: 100%;
   max-height: 100%;
}

.till_mint {
    padding-top:10px;
    text-align:center;
    font-size:calc(10px + 2.75vw);
    font-weight: 600;
    color:white;

}

.countdown_wrapper {
    position:relative;
}

#mint_date {
    margin-top:30px;
    position:relative;
    
}

.roadmap {
    padding-top:40px;
}

.m { /* for roadmap */
    min-height:200px;
    padding:2vw;
    background-color: rgba(1.0, 1.0, 0.0, 0.3);
}

.meter {
    box-sizing: content-box;
    height: 32px;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(0, 255, 221);
    position: relative;
    overflow: hidden;
  }

  .about {
      width:100%;
      background: rgb(65, 65, 65);
      margin-top:250px;
  }

  .rel {
      position:relative;
  }

  .about_wrapper {
      width:80%;
      left:10%;
      position:absolute;
  }

  p {
    font-size:calc(14px + .5vw);
    font-weight: 400;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }



  /*

  COPYPASTE 

  */

  .card {
    color: white;
    padding: 1rem;
  }
  
  .cards {
    padding-top:20px;
    max-width: 1600;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

  #navmenu {
    margin-right:5px;
    float:right;
    display:none;
  }

  .q {
      color:rgb(255, 174, 231);
      font-size: calc(20px + 1vw);
      margin-bottom: 15px;
  }

  .a {
      color: white;
      font-size: calc(10px + 1vw);
      margin-bottom:40px;
  }


  /* Screen larger than 600px? 2 column */
  @media (min-width: 800px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (max-width: 940px) {
    .main__child {
        left:calc(5% - 3px);
        width:90%;
    }

    .nchild {
        display:none;
    }

    #navmenu {
        display:block;
    }
  }

  #marquee {
    width: 100%;
    font-size: 23px;
    overflow: hidden;
    position: relative;
  }
  
  #marquee div:hover {
    animation-play-state: paused;
  }
  
  #marquee div {
    display: block;
    width: 400%;
    position: relative;
    overflow: hidden;
    animation: marquee 20s linear infinite;
  }


  
  #marquee img {
    float: left;
    width:6.25%; /* eight marquee elements*/
  }
  
  @keyframes marquee {
    0% { transform:translate3d(0, 0, 0) }
    100% { transform:translate3d(-50%, 0, 0) } /* translate3D is SO MUCH BETTER */
  }

  .fadeup {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .in-view {
    transform: none;
    opacity: 1;
}

/*
Scrollbar!
*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 225, 255);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(42, 195, 255);
  }